$blue: #01519B;
$blue2: #1D3340;
$blue3: #627DDC;
$blue4:#1CBED2;
$blue-opa:#1cbdd22a;
$blue5:#082F48;
$blue6: #05273D;
$blue7: #F7F9FC;
$gray: #F0EEFE;
$black: #000000;
$black2: #171725;
$white: #FFFFFF;
$gray2: #474747;
$gray3: #F9FAFD;
$gray4: #919191;
$gray5: #272B2F;
$gradient: linear-gradient(180deg, #05273D 0%, #082F48 100%);
$gray6: #F0EEFE;