$blue: #01519B;
$blue2: #1D3340;
$blue3: #627DDC;
$blue4:#1CBED2;
$blue-opa:#1cbdd22a;
$blue5:#082F48;
$blue6: #05273D;
$blue7: #F7F9FC;
$blue8: #001a41;
$blue9: #F6FAFA;
$black: #000000;
$black2: #171725;
$black3: #070D14;
$black4: #525560;
$black5: #272B2F;
$white: #FFFFFF;
$white1: #E2EFF0;
$gray: #F0EEFE;
$gray2: #474747;
$gray3: #F9FAFD;
$gray4: #919191;
$gray5: #272B2F;
$gradient: linear-gradient(180deg, #05273D 0%, #082F48 100%);
$gradient2: linear-gradient(#E2EEF0 24.03%, #C0DBFB 93.62%);
$gray6: #F0EEFE;
$gray7: #5C5C5C80;
$gray8: #bdc6d7;
$gray9: #959595;
$gray10: #e2eff0b9;