@import "./variables";

.AboutSection {
  margin-bottom: 10rem;
  overflow: hidden;
  position: relative;
  .About {
    padding: 0 13.5rem;
    z-index: 100;
    @media (max-width: 1400px) {
      padding: 0 10em;
    }
    @media (max-width: 991px) {
      padding: 0 5rem;
    }
    @media (max-width: 768px) {
      padding: 0 5rem;
    }
    @media (max-width: 475px) {
      padding: 0 2rem;
    }
    .aboutList {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
      }
      @media (max-width: 475px) {
        flex-direction: column;
        text-align: left;
      }
      .aboutItem {
        width: 50%;
        @media (max-width: 475px) {
          width: 100%;
        }
        .aboutDes {
          p {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.4rem;
            letter-spacing: 0.5rem;
            color: $black;
            opacity: 50%;
          }
        }
        .aboutTitle {
          margin-bottom: 2rem;
          @media (max-width: 768px) {
            margin-bottom: 0rem;
          }
          p {
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 2.4rem;
            color: $black;
            @media (max-width: 768px) {
              margin: 0;
              line-height: 3.4rem;
            }
          }
        }
        .aboutText {
          p {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 2rem;
            color: $black;
            opacity: 70%;
          }
        }
      }
      .aboutItemRight {
        text-align: right;
        width: 50%;
        padding: 0 0rem;
        @media (max-width: 1400px) {
          width: 100%;
          padding: 0rem;
        }
        @media (max-width: 768px) {
          text-align: left;
        }
        @media (max-width: 475px) {
          text-align: left !important;
        }
        .aboutDes {
          p {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.7rem;
            letter-spacing: 1rem;
            color: $black;
            opacity: 50%;
          }
        }
        .aboutTitle {
          p {
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 4.4rem;
            color: $black;
          }
        }
        .aboutText {
          p {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 2.4rem;
            color: $black;
            opacity: 70%;
            @media (max-width: 768px) {
              margin-bottom: 2rem;
            }
            span{
              color: $blue;
            }
          }
        }
      }
    }
    .aboutImgs {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      z-index: 50;
      .aboutImg {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(256px, 308px));
        min-width: 240px;
        max-width: 254px;
        width: 33%;
        height: 35rem;
        position: relative;
        @media (max-width: 3440px){
          grid-template-columns: repeat(auto-fit, minmax(442px, 308px));
          min-width: 349px;
          max-width: 420px;
          width: 33%;
          height: 60rem;
        }
        @media (max-width: 3200px) {
          grid-template-columns: repeat(auto-fit, minmax(392px, 308px));
          min-width: 337px;
          max-width: 390px;
          width: 33%;
          height: 55rem;
        }
        @media (max-width: 2440px) {
          grid-template-columns: repeat(auto-fit, minmax(331px, 308px));
          min-width: 331px;
          max-width: 303px;
          width: 33%;
          height: 45rem;
        }
        @media (max-width: 2140px) {
          grid-template-columns: repeat(auto-fit, minmax(307px, 308px));
          min-width: 255px;
          max-width: 303px;
          width: 33%;
          height: 41rem;
        }

        // @media (max-width: 2440px) {
        //   grid-template-columns: repeat(auto-fit, minmax(359px, 315px));
        //   min-width: 357px;
        //   max-width: 352px;
        //   width: 33%;
        //   height: 45rem;
        // }
        @media (max-width: 1880px) {
          grid-template-columns: repeat(auto-fit, minmax(325px, 213px));
          min-width: 312px;
          max-width: 323px;
          width: 33%;
          height: 45rem;
        }
        @media (max-width: 1440px) {
          grid-template-columns: repeat(auto-fit, minmax(286px, 178px));
          min-width: 284px;
          max-width: 285px;
          width: 33%;
          height: 38rem;
        }
        @media (max-width: 1400px) {
          grid-template-columns: repeat(auto-fit, minmax(215px, 308px));
          min-width: 256px;
          max-width: 270px;
          width: 33%;
          height: 37rem;
        }
        @media (max-width: 1200px) {
          grid-template-columns: repeat(auto-fit, minmax(222px, 308px));
          min-width: 221px;
          max-width: 200px;
          width: 33%;
          height: 34rem;
        }
        @media (max-width: 1024px) {
          grid-template-columns: repeat(auto-fit, minmax(233px, 308px));
          min-width: 231px;
          max-width: 142px;
          width: 33%;
          height: 38rem;
        }
        @media (max-width: 991px) {
          grid-template-columns: repeat(auto-fit, minmax(216px, 308px));
          min-width: 222px;
          max-width: 215px;
          width: 33%;
          height: 37rem;
        }
        @media (max-width: 768px) {
          grid-template-columns: repeat(auto-fit, minmax(206px, 308px));
          min-width: 216px;
          max-width: 215px;
          width: 33%;
          height: 39rem;
        }
        @media (max-width: 475px) {
          grid-template-columns: repeat(auto-fit, minmax(214px, 308px));
          min-width: 218px;
          max-width: 200px;
          width: 33%;
          height: 40rem;
        }
        @media (max-width: 400px) {
          grid-template-columns: repeat(auto-fit, minmax(169px, 308px));
          min-width: 169px;
          max-width: 260px;
          width: 33%;
          height: 31rem;
        }
        @media (max-width: 360px) {
          grid-template-columns: repeat(auto-fit, minmax(143px, 237px));
          min-width: 153px;
          max-width: 194px;
          width: 33%;
          height: 30rem;
        }
        img {
          width: 100%;
          filter: grayscale(1);
        }
        :hover {
          filter: grayscale(0);
        }
        .aboutText {
          position: absolute;
          bottom: 0%;
          left: 0%;
          width: 100%;
          opacity: 0;
          p {
            font-size: 2rem;
            font-weight: 700;
            line-height: 2.4rem;
            color: $white;
            margin-bottom: 0.5rem;
            text-transform: uppercase;
          }
          span {
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.7rem;
            color: $gray9;
            text-transform: uppercase;
          }
        }
      }
      :hover {
        .aboutText {
          position: absolute;
          bottom: 0%;
          transition: all 0.4s ease-out;
          opacity: 1;
          padding-top: 5rem;
          padding-left: 1rem;
          padding-bottom: 1rem;
          left: 0%;
          width: 100%;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 5.12%,
            rgba(0, 0, 0, 0.7) 91.89%
          );
          @media (max-width: 360px) {
            padding-left: 2rem;
          }
        }
      }
    }

  }
  .Bget{
    position: absolute;
    bottom: -0%;
    right: 0%;
    z-index: -1;
    animation: move 3s infinite;
  }
}

@keyframes move {
  0% {
    -webkit-transform: rotate(-1deg) translate(-5px,-5px);
    transform: rotate(-1deg) translate(-5px,-5px);
}
50% {
    -webkit-transform: rotate(1deg) translate(5px,5px);
    transform: rotate(1deg) translate(5px,5px);
}
100% {
    -webkit-transform: rotate(-1deg) translate(-5px,-5px);
    transform: rotate(-1deg) translate(-5px,-5px);
}
}