@import "./variables";

.AboutSection {
  margin-bottom: 10rem;
  overflow: hidden;
  .About {
    padding: 0 13.5rem;
    @media (max-width: 1400px) {
      padding: 0 13.5rem;
    }
    @media (max-width: 991px) {
      padding: 0 5rem;
    }
    @media (max-width: 768px) {
      padding: 0 5rem;
    }
    @media (max-width: 475px) {
      padding: 0 2rem;
    }
    .aboutList {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
      }
      @media (max-width: 475px) {
        flex-direction: column;
        text-align: left;
      }
      .aboutItem {
        width: 50%;
        @media (max-width: 475px) {
          width: 100%;
        }
        .aboutDes {
          p {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.4rem;
            letter-spacing: 0.5rem;
            color: $black;
            opacity: 50%;
          }
        }
        .aboutTitle {
          margin-bottom: 2rem;
          @media (max-width: 768px) {
            margin-bottom: 0rem;
          }
          p {
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 2.4rem;
            color: $black;
            @media (max-width: 768px) {
              margin: 0;
              line-height: 3.4rem;
            }
          }
        }
        .aboutText {
          p {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 2rem;
            color: $black;
            opacity: 70%;
          }
        }
      }
      .aboutItemRight {
        text-align: right;
        width: 50%;
        padding: 0 0rem;
        @media (max-width: 1400px) {
          width: 100%;
          padding: 0rem;
        }
        @media (max-width: 768px) {
          text-align: left;
        }
        @media (max-width: 475px) {
          text-align: left !important;
        }
        .aboutDes {
          p {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.7rem;
            letter-spacing: 1rem;
            color: $black;
            opacity: 50%;
          }
        }
        .aboutTitle {
          p {
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 4.4rem;
            color: $black;
          }
        }
        .aboutText {
          p {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 2.4rem;
            color: $black;
            opacity: 70%;
            @media (max-width: 768px) {
              margin-bottom: 2rem;
            }
          }
        }
      }
    }
    .aboutImgs {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .aboutImg {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(269px, 308px));
        min-width: 259px;
        max-width: 267px;
        width: 33%;
        height: 39rem;
        position: relative;
        @media (max-width: 2440px) {
          grid-template-columns: repeat(auto-fit, minmax(359px, 315px));
          min-width: 357px;
          max-width: 352px;
          width: 33%;
          height: 45rem;
        }
        @media (max-width: 1880px) {
          grid-template-columns: repeat(auto-fit, minmax(269px, 270px));
          min-width: 267px;
          max-width: 230px;
          width: 33%;
          height: 37rem;
        }
        @media (max-width: 1440px) {
          grid-template-columns: repeat(auto-fit, minmax(290px, 308px));
          min-width: 275px;
          max-width: 280px;
          width: 33%;
          height: 39rem;
        }
        @media (max-width: 1400px) {
          grid-template-columns: repeat(auto-fit, minmax(262px, 308px));
          min-width: 255px;
          max-width: 262px;
          width: 33%;
          height: 35rem;
        }
        @media (max-width: 1200px) {
          grid-template-columns: repeat(auto-fit, minmax(229px, 308px));
          min-width: 221px;
          max-width: 200px;
          width: 33%;
          height: 35rem;
        }
        @media (max-width: 1024px) {
          grid-template-columns: repeat(auto-fit, minmax(247px, 308px));
          min-width: 244px;
          max-width: 216px;
          width: 33%;
          height: 35rem;
        }
        @media (max-width: 991px) {
          grid-template-columns: repeat(auto-fit, minmax(217px, 308px));
          min-width: 172px;
          max-width: 215px;
          width: 33%;
          height: 35rem;
        }
        @media (max-width: 475px) {
          grid-template-columns: repeat(auto-fit, minmax(214px, 308px));
          min-width: 218px;
          max-width: 200px;
          width: 33%;
          height: 40rem;
        }
        @media (max-width: 390px) {
          grid-template-columns: repeat(auto-fit, minmax(176px, 308px));
          min-width: 175px;
          max-width: 260px;
          width: 33%;
          height: 31rem;
        }
        @media (max-width: 360px) {
          grid-template-columns: repeat(auto-fit, minmax(160px, 308px));
          min-width: 160px;
          max-width: 260px;
          width: 33%;
          height: 30rem;
        }
        img {
          width: 100%;
          filter: grayscale(1);
        }
        :hover {
          filter: grayscale(0);
        }
        .aboutText {
          position: absolute;
          bottom: -10%;
          left: 0%;
          width: 100%;
          opacity: 0;
          p {
            font-size: 2rem;
            font-weight: 700;
            line-height: 2.4rem;
            color: $white;
            margin-bottom: 0.5rem;
          }
          span {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.7rem;
            color: $gray9;
          }
        }
      }
      :hover {
        .aboutText {
          position: absolute;
          bottom: 0%;
          transition: all 0.4s ease-out;
          opacity: 1;
          padding-top: 10rem;
          padding-left: 5rem;
          padding-bottom: 1rem;
          left: 0%;
          width: 100%;
          background: linear-gradient( 180deg, rgba(0, 0, 0, 0) 5.12%, rgba(0, 0, 0, 0.7) 91.89% );
        }
      }
    }
  }
}
