@import "./variables";

.BrandSection {
  margin-bottom: 10rem;
  overflow: hidden;
  width: auto;
  height: 25rem;
  @media (max-width: 475px) {
    margin-bottom: 10rem;
  }
  .Brand {
    width: 1200px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    .BrandList {
      display: flex;
      align-items: center;
      position: relative;
      left: -300px;
      .BrandItem {
        width: 300px;
        height: 100%;
        position: absolute;
        justify-content: center;
        display: flex;
        align-items: center;
        height: 100px;
        top: 0;
      }
    }
  }
}
