@import "./variables";

.careerSection {
  margin-bottom: 10rem;
  overflow: hidden;
  @media (max-width: 475px) {
    margin-bottom: 5rem;
  }
  .Particles {
    position: absolute;
    overflow: hidden;
    top: 12%;
    left: 0;
    right: 0;
    height: 60rem;
    width: 100%;
    z-index: -1;
  }
  .career {
    background-color: $blue8;
    position: relative;
    padding: 4.8rem 13.5rem;
    z-index: 222;
    height: 80rem;
    @media (max-width: 3440px) and (min-width: 3000px) {
      padding: 5rem 80rem;
    }
    @media (max-width: 2440px) and (min-width: 2000px) {
      padding: 5rem 40rem;
    }
    @media (max-width: 1400px) {
      padding: 4.8rem 10rem;
    }
    @media (max-width: 1200px) {
      padding: 4.8rem 10rem;
    }
    @media (max-width: 768px) {
      padding: 4.8rem 5rem;
    }
    @media (max-width: 475px) {
      height: 130rem;
      padding: 4.8rem 2rem;
    }
    .careerContent {
      padding: 10rem 0;
      z-index: 111;
      position: relative;
      @media (max-width: 475px) {
        text-align: center;
        height: 110rem;
      }
      .careerList {
        display: flex;
        justify-content: space-between;
        gap: 35rem;
        @media (max-width: 2440px) and (min-width: 2000px) {
          gap: 2rem;
        }
        @media (max-width: 1440px) {
          gap: 10rem;
        }
        @media (max-width: 1400px) {
          gap: 5rem;
        }
        @media (max-width: 991px) {
          gap: 0rem;
        }
        @media (max-width: 475px) {
          flex-direction: column;
          gap: 5rem;
        }
        .careerLeft {
          width: 50%;
          @media (max-width: 475px) {
            width: 100%;
          }
          .careerLeftContent {
            .careerLeftDes {
              p {
                font-size: 1.8rem;
                font-weight: 700;
                line-height: 2.2rem;
                color: $blue4;
                letter-spacing: 0.5rem;
              }
            }
            .careerLeftTitle {
              p {
                font-size: 4.8rem;
                font-weight: 700;
                line-height: 6.4rem;
                color: $white;
                span {
                  color: $blue4;
                }
              }
            }
            .careerLeftTi {
              p {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 2.4rem;
                color: $white;
                margin-bottom: 5rem;
              }
            }
            .careerLeftBtn {
              button {
                animation: wiggle 3s linear infinite;
                display: inline-block;
                padding: 1.9rem 4.4rem;
                background-color: $blue;
                color: $white;
                font-size: 1.8rem;
                font-weight: 700;
                line-height: 2.2rem;
                cursor: pointer;
                outline: none;
                border: none;
                border-radius: 3.2rem;
              }
            }
          }
        }
        .careerRight {
          width: 50%;
          @media (max-width: 475px) {
            width: 100%;
          }
          .careerRightContent {
            .careerRightImg1 {
              position: absolute;
              width: 100%;
  
              @media (max-width: 768px) {
                width: 50%;
              }
              @media (max-width: 475px) {
                width: 100%;
              }
              @media (max-width: 390px) {
                width: 100%;
              }
            }
            .careerRightImg2 {
              position: absolute;
              top: 20%;
              animation: float 5s linear infinite;
              @media (max-width: 1440px) {
                top: 16%;
              }
              @media (max-width: 1200px) {
                top: 15%;
              }
              @media (max-width: 1024px) {
                width: 15%;
                top: 15%;
                left: 50%;
              }
              @media (max-width: 991px) {
                width: 12%;
              }
              @media (max-width: 768px) {
                width: 13%;
              }
              @media (max-width: 475px) {
                top: 58%;
                left: 9%;
                width: 20%;
              }
            }
            .careerRightImg3 {
              position: absolute;
              bottom: 8%;
              animation: float 5s linear infinite;
              @media (max-width: 1440px) {
                bottom: 8%;
              }
              @media (max-width: 1024px) {
                bottom: 14%;
              }
              @media (max-width: 768px) {
                bottom: 14%;
              }
              @media (max-width: 475px) {
                width: 20%;
                bottom: 3%;
              }
            }
            .careerRightImg4 {
              position: absolute;
              bottom: 0%;
              right: 4%;
              animation: float 5s linear infinite;
              @media (max-width: 1440px) {
                bottom: 1%;
                right: -1%;
              }
              @media (max-width: 1200px) {
                bottom: -6%;
                right: 2%;
                width: 12%;
              }
              @media (max-width: 1024px) {
                bottom: 12%;
              }
              @media (max-width: 991px) {
                width: 12%;
              }
              @media (max-width: 768px) {
                bottom: 18%;
              }
              @media (max-width: 475px) {
                width: 30%;
                bottom: -4%;
              }
            }
            .careerRightImg5 {
              position: absolute;
              top: 30%;
              right: 5%;
              animation: float 5s linear infinite;
              @media (max-width: 1440px) {
                top: 35%;
                right: -1%;
              }
              @media (max-width: 1400px) {
                right: 1%;
              }
              @media (max-width: 1200px) {
                right: 0%;
              }
              @media (max-width: 1024px) {
                right: -3%;
              }
              @media (max-width: 991px) {
                width: 9%;
              }
              @media (max-width: 768px) {
                width: 14%;
                right: -5%;
              }
              @media (max-width: 475px) {
                top: 66%;
                width: 20%;
                right: 0%;
              }
            }
          }
        }
      }
    }
  }
}

.CareerCategorySection {
  margin-bottom: 12rem;
  .CareerCategory {
    position: relative;
    padding: 0rem 13.5rem;
    @media (max-width: 3440px) and (min-width: 3000px) {
      padding: 0rem 80rem;
    }
    @media (max-width: 2440px) and (min-width: 2000px) {
      padding: 0rem 40rem;
    }
    @media (max-width: 1400px) {
      padding: 0rem 10rem;
    }
    @media (max-width: 1200px) {
      padding: 0rem 10rem;
    }
    @media (max-width: 768px) {
      padding: 0rem 5rem;
    }
    @media (max-width: 475px) {
      padding: 0rem 2rem;
    }
    .CareerCategoryImg {
      z-index: 1;
      position: absolute;
      top: -25%;
      left: 0%;
      @media (max-width: 475px) {
        top: -5%;
      }
    }
    .CareerCategoryContent {
      text-align: center;
      .CareerCategoryDes {
        p {
          font-size: 1.8rem;
          font-weight: 700;
          letter-spacing: 0.5rem;
          line-height: 2.2rem;
          color: $black;
          opacity: 50%;
        }
      }
      .CareerCategoryTitle {
        margin-bottom: 10rem;
        p {
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 6.4rem;
          color: $black;
          margin: 0;
        }
      }
    }
    .CareerCategoryList {
      display: flex;
      justify-content: space-between;
      gap: 3rem;
      @media (max-width: 475px) {
        flex-wrap: wrap;
      }
      .CareerCategoryItem {
        box-shadow: 12px 13px 23px rgba(28, 51, 72, 0.1);
        border-radius: 1.3rem;
        z-index: 2;
        width: 33.333%;
        background-color: $blue9;
        color: $black;
        padding: 2rem;
        @media (max-width: 475px) {
          width: 100%;
        }
        .CareerImg {
        }
        .CareerTitle {
          p {
            font-size: 2rem;
            font-weight: 700;
            line-height: 2.3rem;
            color: $gray5;
          }
        }
        .CareerDes {
          p {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 2.1rem;
            color: $black;
            opacity: 70%;
          }
        }
      }
      .CareerCategoryItem:hover {
        background-color: $blue;
        transition: all 0.3s ease-in;
        transform: translateY(-10px);
        box-shadow: 0 0 10px 4px rgb(31 66 135 / 20%);
        p {
          color: $white !important;
        }
      }
    }
  }
}

.CareerDesSection {
  margin-bottom: 10rem;
  .CareerDes {
    padding: 0 13.5rem;
    position: relative;
    @media (max-width: 3440px) and (min-width: 3000px) {
      padding: 0rem 80rem;
    }
    @media (max-width: 2440px) and (min-width: 2000px) {
      padding: 0rem 40rem;
    }
    @media (max-width: 1400px) {
      padding: 0 10rem;
    }
    @media (max-width: 1200px) {
      padding: 0 10rem;
    }
    @media (max-width: 768px) {
      padding: 0 5rem;
    }
    @media (max-width: 475px) {
      padding: 0rem;
    }
    .CareerDesImg1 {
      position: absolute;
      z-index: 22;
      top: -26%;
      @media (max-width: 1200px) {
        top: -34%;
        width: 35%;
      }
      @media (max-width: 1024px) {
        top: -25%;
        width: 35%;
      }
      @media (max-width: 991px) {
        top: -21%;
      }
      @media (max-width: 768px) {
        top: -25%;
        width: 43%;
      }
      @media (max-width: 475px) {
        top: -39%;
        left: -17%;
        width: 60%;
      }
      @media (max-width: 390px) {
        top: -24%;
        left: -17%;
        width: 65%;
      }
    }
    .CareerDesList {
      box-shadow: 12px 13px 23px rgba(28, 51, 72, 0.2);
      display: flex;
      background-color: $blue5;
      height: 40rem;
      border-radius: 2.4rem;
      position: relative;
      overflow: hidden;
      align-items: center;
      @media (max-width: 475px) {
        border-radius: 0rem;
        height: 32rem;
      }
      .CareerDesLeft {
        width: 50%;
        .CareerDesLeftImg2 {
          position: absolute;
          z-index: 11;
          top: 53%;
          left: 10%;
          @media (max-width: 475px) {
            top: 53%;
            left: 0%;
          }
        }
        .CareerDesLeftImg3 {
          position: absolute;
          bottom: -1%;
          left: 0%;
          @media (max-width: 475px) {
            width: 70%;
            bottom: -1%;
            left: 0%;
          }
        }
      }
      .CareerDesRight {
        width: 32%;
        @media (max-width: 1024px) {
          width: 41%;
        }
        @media (max-width: 768px) {
          width: 46%;
        }
        @media (max-width: 475px) {
          width: 87%;
        }
        @media (max-width: 390px) {
          width: 57%;
        }
        @media (max-width: 360px) {
          width: 64%;
        }
        .CareerDesContent {
          z-index: 50;
          .CareerDesTitle {
            p {
              font-size: 2.4rem;
              font-weight: 600;
              line-height: 3.6rem;
              color: $white;
            }
          }
          .CareerDesDes {
            p {
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 2.7rem;
              color: $white;
              opacity: 90%;
            }
          }
        }
      }
    }
  }
}

.CareerValuesSection {
  margin-bottom: 10rem;
  overflow: hidden;
  @media (max-width: 768px) {
    margin-bottom: 5rem;
  }
  @media (max-width: 475px) {
    margin-bottom: 5rem;
  }
  .CareerValues {
    @media (max-width: 475px) {
      padding: 0 2rem;
    }
    .CareerValuesContent {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 5rem;
      .CareerValuesDes {
        p {
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 2.2rem;
          color: $black;
          opacity: 50%;
          letter-spacing: 0.5rem;
          margin: 0;
        }
      }
      .CareerValuesTitle {
        margin: 0 auto;
        width: 35%;
        @media (max-width: 1440px) {
          width: 40%;
        }
        @media (max-width: 1400px) {
          width: 49%;
        }
        @media (max-width: 768px) {
          width: 65%;
        }
        @media (max-width: 475px) {
          width: 100%;
        }
        p {
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 4.4rem;
          color: $black;
          margin: 1rem;
        }
      }
    }
    .CareerValuesList {
      height: 38rem;
      @media (max-width: 475px) {
        padding: 1.5rem;
        grid-gap: 1.5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 31rem);
        display: none;
      }
      .CareerValuesItem {
        .CareerValuesImg1 {
          width: 55rem;
          @media (max-width: 475px) {
            width: 80%;
          }
        }
        .CareerValuesImg2 {
          width: 30rem;
          @media (max-width: 475px) {
            width: 100%;
          }
        }
        .CareerValuesImg3 {
          width: 55rem;
          @media (max-width: 475px) {
            width: 100%;
          }
        }
        .CareerValuesImg4 {
          width: 30rem;
          @media (max-width: 475px) {
            width: 100%;
          }
        }
        .CareerValuesImg5 {
          width: 30rem;
          @media (max-width: 475px) {
            display: none;
          }
        }
      }
    }
    .CareerValuesListMb {
      display: none;
      @media (max-width: 475px) {
        display: block;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .CareerValuesItem {
          @media (max-width: 475px) {
          }
          .CareerValuesImg1 {
            margin: 0.5rem;
            display: inline-block;
            width: 15rem;
            @media (max-width: 475px) {
              width: 18rem;
            }
            @media (max-width: 390px) {
              width: 16rem;
            }
          }
          .CareerValuesImg2 {
            margin: 0.5rem;
            display: inline-block;
            width: 28rem;
            @media (max-width: 475px) {
              width: 30rem;
            }
          }
          .CareerValuesImg3 {
            margin: 0.5rem;
            display: inline-block;
            width: 28rem;
            @media (max-width: 475px) {
              width: 31rem;
            }
            @media (max-width: 390px) {
              width: 30rem;
            }
          }
          .CareerValuesImg4 {
            margin: 0.5rem;
            display: inline-block;
            width: 15rem;
            @media (max-width: 475px) {
              width: 18rem;
            }
            @media (max-width: 390px) {
              width: 16rem;
            }
          }
        }
      }
    }
  }
}

.CareerJobSection {
  background-color: $white1;
  height: auto;
  @media (max-width: 475px) {
    display: none;
  }
  .CareerJob {
    padding: 5rem 13.5rem;
    @media (max-width: 3440px) and (min-width: 3000px) {
      padding: 5rem 80rem;
    }
    @media (max-width: 2440px) and (min-width: 2000px) {
      padding: 5rem 40rem;
    }
    @media (max-width: 1200px) {
      padding: 5rem 10rem;
    }
    @media (max-width: 768px) {
      padding: 5rem 5rem;
    }
    .CareerJobContent {
      .CareerJobTitle {
        p {
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 4.4rem;
          color: $black;
        }
      }
    }
    .CareerJobList {
      .CareerJobContentList {
        box-shadow: 0px 22px 38px rgba(0, 0, 0, 0.0503198),
          0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: $white;
        padding: 1rem 2rem;
        margin-bottom: 2rem;
        cursor: pointer;
        .CareerJobContentItem {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          @media (max-width: 475px) {
            flex-direction: column;
          }
          .CareerJobItemTitle {
            p {
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.9rem;
              color: $black;
            }
            .CareerJobItemDesD {
              p {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4rem;
                color: $black4;
                @media (max-width: 475px) {
                  display: none;
                }
              }
            }
          }
          .CareerJobItemName {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            .CareerJobItemDes {
              display: flex;
              p {
                display: none;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4rem;
                color: $black4;
                @media (max-width: 475px) {
                  display: block;
                }
              }
              span {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4rem;
                color: $black4;
              }
            }
            .CareerJobItemPrice {
              p {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.4rem;
                color: $black3;
                @media (max-width: 475px) {
                  font-size: 1.4rem;
                  color: $black4;
                }
              }
            }
          }
        }
        
        .CareerJobItemBtn {
          display: flex;
          align-items: center;
          gap: 5rem;
          @media (max-width: 475px) {
            justify-content: space-between;
          }
          button {
            display: inline-block;
            padding: 1rem 4rem;
            background-color: $blue;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.4rem;
            color: $white;
            outline: none;
            border: none;
            border-radius: 3rem;
            cursor: pointer;
          }
          .CareerJobIcon {
            font-size: 1.5rem;
            background-color: transparent;
            width: 3rem;
            height: 3rem;
            border-radius: 50rem;
            border: 0.1rem solid $gray4;
            font-weight: 700;
            color: $black3;
            padding: 0.5rem;
          }
        }
      }
      .CareerJobContentDetail {
        box-shadow: 0px 22px 38px rgba(0, 0, 0, 0.0503198),
          0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 2rem;
        @media (max-width: 475px) {
          display: none;
        }
        .CareerRequest {
          width: 77%;
          p {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.9rem;
            color: $blue;
          }
          li {
            margin: 2rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.9rem;
            color: $black5;
            padding: 1rem 0rem;
            list-style-type: disc;
            span {
              font-weight: 600;
              color: $black3;
            }
          }
        }
        .CareerResponsibilities {
          width: 77%;
          p {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.9rem;
            color: $blue;
          }
          li {
            margin: 2rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.9rem;
            color: $black5;
            padding: 1rem 0rem;
            list-style-type: disc;
          }
        }
        .CareerHigh {
          width: 77%;
          p {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.9rem;
            color: $blue;
          }
          li {
            margin: 2rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.9rem;
            color: $black5;
            padding: 1rem 0rem;
            list-style-type: disc;
          }
        }
        .CareerBenefit {
          width: 77%;
          p {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.9rem;
            color: $blue;
          }
          li {
            margin: 2rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.9rem;
            color: $black5;
            padding: 1rem 0rem;
            list-style-type: disc;
          }
        }
      }
    }
  }
}

.CareerJobSectionMobile {
  background-color: $white1;
  height: auto;
  display: none;
  @media (max-width: 1400px) {
    display: none;
  }
  @media (max-width: 1200px) {
    display: none;
  }
  @media (max-width: 1024px) {
    display: none;
  }
  @media (max-width: 768px) {
    display: none;
  }
  @media (max-width: 475px) {
    display: block;
  }
  .CareerJob {
    padding: 5rem 13.5rem;
    @media (max-width: 3440px) and (min-width: 3000px) {
      padding: 5rem 80rem;
    }
    @media (max-width: 2440px) and (min-width: 2000px) {
      padding: 5rem 40rem;
    }
    @media (max-width: 2440px) and (min-width: 2000px) {
      padding: 5rem 40rem;
    }
    @media (max-width: 1200px) {
      padding: 5rem 10rem;
    }
    @media (max-width: 768px) {
      padding: 5rem 5rem;
    }
    @media (max-width: 475px) {
      padding: 5rem 2rem;
    }
    .CareerJobContent {
      .CareerJobTitle {
        p {
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 4.4rem;
          color: $black;
        }
      }
    }
    .CareerJobList {
      .CareerJobContentList {
        box-shadow: 0px 22px 38px rgba(0, 0, 0, 0.0503198),
          0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: $white;
        padding: 1rem 2rem;
        margin-bottom: 2rem;
        cursor: pointer;
        .CareerJobContentItem {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          @media (max-width: 475px) {
            flex-direction: column;
          }
          .CareerJobItemTitle {
            p {
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.9rem;
              color: $black;
            }
            .CareerJobItemDesD {
              p {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4rem;
                color: $black4;
                @media (max-width: 475px) {
                  display: none;
                }
              }
            }
          }
          .CareerJobItemName {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            .CareerJobItemDes {
              display: flex;
              p {
                display: none;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4rem;
                color: $black4;
                @media (max-width: 475px) {
                  display: block;
                }
              }
              span {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4rem;
                color: $black4;
              }
            }
            .CareerJobItemPrice {
              p {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.4rem;
                color: $black3;
                @media (max-width: 475px) {
                  font-size: 1.4rem;
                  color: $black4;
                }
              }
            }
          }
        }

        .CareerJobItemBtn {
          display: flex;
          align-items: center;
          gap: 5rem;
          @media (max-width: 475px) {
            justify-content: space-between;
          }
          button {
            display: inline-block;
            padding: 1rem 4rem;
            background-color: $blue;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.4rem;
            color: $white;
            outline: none;
            border: none;
            border-radius: 3rem;
            cursor: pointer;
          }
          .CareerJobIcon {
            font-size: 1.5rem;
            background-color: transparent;
            width: 3rem;
            height: 3rem;
            border-radius: 50rem;
            border: 0.1rem solid $gray4;
            font-weight: 700;
            color: $black3;
            padding: 0.5rem;
          }
        }
      }
      .CareerJobContentDetail {
        box-shadow: 0px 22px 38px rgba(0, 0, 0, 0.0503198),
          0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 2rem;
        @media (max-width: 475px) {
          display: none;
        }
        .CareerRequest {
          width: 77%;
          p {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.9rem;
            color: $blue;
          }
          li {
            margin: 2rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.9rem;
            color: $black5;
            padding: 1rem 0rem;
            list-style-type: disc;
            span {
              font-weight: 600;
              color: $black3;
            }
          }
        }
        .CareerResponsibilities {
          width: 77%;
          p {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.9rem;
            color: $blue;
          }
          li {
            margin: 2rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.9rem;
            color: $black5;
            padding: 1rem 0rem;
            list-style-type: disc;
          }
        }
        .CareerHigh {
          width: 77%;
          p {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.9rem;
            color: $blue;
          }
          li {
            margin: 2rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.9rem;
            color: $black5;
            padding: 1rem 0rem;
            list-style-type: disc;
          }
        }
        .CareerBenefit {
          width: 77%;
          p {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.9rem;
            color: $blue;
          }
          li {
            margin: 2rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.9rem;
            color: $black5;
            padding: 1rem 0rem;
            list-style-type: disc;
          }
        }
      }
    }
  }
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(2deg);
  }
  35% {
    transform: rotateZ(-2deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
@keyframes float {
  0% {
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}