@import "./variables";

.FooterSection {
  overflow: hidden;
  position: relative;
  .Footer {
    background-color: $blue5;
    .FooterList {
      padding: 11rem 13.5rem;
      display: flex;
      gap: 15rem;
      justify-content: center;
      @media (max-width: 1440px) {
        gap: 9rem;
        padding: 11rem 10rem 5rem 10rem;
      }
      @media (max-width: 1400px) {
        gap: 5rem;
        padding: 11rem 10rem 5rem 10rem;
      }
      @media (max-width: 1024px) {
        gap: 3rem;
        padding: 11rem 10rem 5rem 10rem;
      }
      @media (max-width: 991px) {
        gap: 2rem;
        padding: 11rem 10rem 5rem 10rem;
      }
      @media (max-width: 768px) {
        gap: 1rem;
        padding: 11rem 5rem 5rem 5rem;
      }
      @media (max-width: 475px) {
        padding: 11rem 2rem 5rem 2rem;

      }
      .FooterTitleETMb{
        display: none;
        h1 {
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 2rem;
          margin: 0;
          color: $white;
          margin-top: 2rem;
          @media (max-width: 475px) {
            font-size: 2rem;
          }
        }
        @media (max-width: 475px) {
          display: block;
        }
      }
      .FooterItemET{
       display: inline-block;
       .FooterIcons{
        display: none;
       }
        .FooterTitleET {
          @media (max-width: 475px) {
            display: none;
         }
            padding: 2rem 0;
            color: $white;
            h1 {
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 2rem;
              margin: 0;
            }
          }
          .FooterDesET {
            width: 83%;
            p {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 2.5rem;
            }
            @media (max-width: 1400px) {
              width: 90%;
            }
            @media (max-width: 991px) {
              width: 100%;
            }
            @media (max-width: 768px) {
              width: 90%;
            }
            @media (max-width: 475px) {
              width: 100%;
            }
          }
          .FooterLogo{
            width: 70%;
          }
         
      }
      .FooterItem {
        color: $white;
        width: 18%;
        @media (max-width: 1400px) {
          width: 30%;
        }
        @media (max-width: 991px) {
          width: 35%;
        }
        @media (max-width: 768px) {
          width: 29%;
        }
        .FooterItemTitle {
          h1 {
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 3.6rem;
          }
        }
        .FooterItemPhone {
          p {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.4rem;
          }
        }
        .FooterIcons {
          display: flex;
          align-items: center;
        }
        .FooterIcon {
          padding-right: 1rem;
          @media (max-width: 1200px) {
            padding-right: 1rem;
          }
        }
      }:nth-child(6){
        @media (max-width: 475px) {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1200px) {

}
@media (max-width: 991px) {
  
}

@media (max-width: 475px) {
  .FooterSection {
    position: relative;
    .Footer {
      background-color: $blue5;
      .FooterList {
        display: flex;
        padding: 10rem 2rem 10rem 2rem;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-between;
        text-align: left;
        .FooterTitleET {
          margin-top: 3rem;
          h1 {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 2rem;
            margin: 0;
            color: $white;
          }
        }
        .FooterDesET {
          p {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 2rem;
            color: $white;
            @media (max-width: 475px) {
              font-size: 1.8rem;
            }
          }
        }
        .FooterItemET{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10rem;
            .FooterLogo{
              width: 100%;
            }
            .FooterIcons {
                display: flex;
                align-items: center;
              }
              .FooterIcon {
                width: 5rem;
              }
          }
        .FooterItem {
          color: $white;
            flex: 1 1 45%;
          .FooterItemTitle {
            h1 {
              font-size: 2.8rem;
              font-weight: 700;
              line-height: 3.6rem;
            }
          }
          .FooterItemPhone {
            p {
              font-size: 2rem;
              font-weight: 400;
              line-height: 2.4rem;
            }
          }
        }
      }
    }
  }
}
