@import "./variables";

.FooterSection {
  overflow: hidden;
  position: relative;
  .Footer {
    background-color: $blue5;
    .FooterList {
      padding: 20rem 12rem 6.8rem 12rem;
      display: flex;
      gap: 2rem;
      justify-content: center;
      justify-content: space-between;
      text-align: left;
      @media (max-width: 475px) {
        padding: 10rem 3rem 20rem 3rem;
      }
      .FooterItemET{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        .FooterTitleET {
            padding: 2rem 0;
            color: $white;
            h1 {
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 2rem;
              margin: 0;
            }
          }
          .FooterDesET {
            p {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2rem;
            }
          }
          .FooterIcons {
            display: block;
            display: flex;
            align-items: center;
          }
          .FooterIcon {
            margin: 2rem 2rem 0 0;
          }
      }
      .FooterItem {
        color: $white;
        
        .FooterItemTitle {
          h1 {
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 3.6rem;
          }
        }
        .FooterItemPhone {
          p {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.4rem;
          }
        }
        .FooterIcons {
          display: flex;
          align-items: center;
        }
        .FooterIcon {
          display: none;
          margin: 2rem 2rem 0 0;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .FooterIcon {
    display: block;
    margin: 2rem 2rem 0 0;
  }
}
@media (max-width: 991px) {
  
}
@media (max-width: 768px) {
  .FooterSection {
    position: relative;
    .Footer {
      background-color: $blue5;
      .FooterList {
        padding: 15rem 5rem 10rem 5rem;
        display: flex;
        gap: 2rem;
        justify-content: center;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: left;
        .FooterItemET{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            .FooterTitleET {
                padding: 2rem 0;
                color: $white;
                h1 {
                  font-size: 1.4rem;
                  font-weight: 700;
                  line-height: 2rem;
                  margin: 0;
                }
              }
              .FooterDesET {
                p {
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.2rem;
                }
              }
              .FooterIcons {
                display: block;
                display: flex;
                align-items: center;
              }
              .FooterIcon {
                margin: 2rem 2rem 0 0;
              }
          }
        .FooterItem {
          color: $white;
          .FooterItemTitle {
            h1 {
              font-size: 2.4rem;
              font-weight: 700;
              line-height: 3.6rem;
            }
          }
          .FooterItemPhone {
            p {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 2.4rem;
            }
          }
          
        }
      }
    }
  }
}
@media (max-width: 475px) {
  .FooterSection {
    position: relative;
    .Footer {
      background-color: $blue5;
      .FooterList {
        display: flex;
        gap: 3rem;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-between;
        text-align: left;
        .FooterItemET{
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            .FooterTitleET {
                margin-left: 4rem;
                h1 {
                  font-size: 1.4rem;
                  font-weight: 700;
                  line-height: 2rem;
                  margin: 0;
                  color: $white;
                }
              }
              .FooterDesET {
                p {
                  font-size: 1.5rem;
                  font-weight: 400;
                  line-height: 1.2rem;
                  color: $white;
                }
              }
            .FooterIcons {
                display: none;
                display: flex;
                align-items: center;
              }
              .FooterIcon {
                display: none;
                margin: 2rem 2rem 0 0;
              }
          }
        .FooterItem {
          color: $white;
            flex: 1 1 45%;
          .FooterItemTitle {
            h1 {
              font-size: 2.8rem;
              font-weight: 700;
              line-height: 3.6rem;
            }
          }
          .FooterItemPhone {
            p {
              font-size: 2rem;
              font-weight: 400;
              line-height: 2.4rem;
            }
          }
          .FooterIcons {
            display: none;
            display: flex;
            align-items: center;
          }
          .FooterIcon {
            display: none;
            margin: 2rem 2rem 0 0;
          }
        }
      }
    }
  }
}
