@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./variables";
html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif!important;
  border: none;
  outline: none;
  font-size: 62.5%;
  scroll-behavior: inherit;
scroll-behavior: initial;
scroll-behavior: revert;
scroll-behavior: revert-layer;
scroll-behavior: unset;
}
::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 .5rem grey; 
  border-radius: 10rem;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $white; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $blue; 
}
@media (max-width: 1440px) {
  html,
  body {
    font-size: 62.5%;
  }
}
@media (max-width: 1200px) {
  html,
  body {
    font-size: 55%;
  }
}

@media (max-width: 1024px){
  html,
  body {
    font-size: 50%;
  }
}
@media (max-width: 991px) {

  html,
  body {
    font-size: 50%;
  }
}
@media (max-width: 768px) {
  html,
  body {
    font-size: 45%;
  }
}
@media (max-width: 475px) {
  html,
  body {
    font-size: 45%;
  }
}
ul {
  list-style: none;
}
a{
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  color: $black;
}
* {
  box-sizing: border-box;
}

.mySwiperOurService{
  overflow: visible!important;
}
.slick-next{
  right: 30px !important;
  top: 50%!important;
  
}
.slick-prev{
  left: 30px !important;
  z-index: 22!important;
  top: 50%!important;
}
.react-slideshow-wrapper.slide{

}
.swiper-slide{
  width: 37.5rem!important;
  @media (max-width: 1400px) {
    width: 35rem!important;
  }
  @media (max-width: 768px) {
    width: 37rem!important;
  }
  @media (max-width: 475px) {
    width: 35rem!important;
  }
}
.swiper-android .swiper-slide, .swiper-wrapper{
}
.swiper-button-prev, .swiper-rtl .swiper-button-next{
  left: 68%!important;
  color: $black !important;
  background-color: $white!important;
  padding: 3rem!important;
  font-weight: 700;
  @media (max-width: 1500px) {
    left: 70%!important;
  }
  @media (max-width: 1400px) {
    left: 70%!important;
  }
  @media (max-width: 1200px) {
    left: 66%!important;
  }
  @media (max-width: 1024px) {
    left: 64%!important;
  }
  @media (max-width: 991px) {
    left: 64%!important;
  }
  @media (max-width: 768px) {
    left: 68%!important;
  }
  @media (max-width: 475px) {
    left: 65%!important;
  }
}
.swiper-button-next, .swiper-rtl .swiper-button-prev{
  right: 25%!important;
  color: $white !important;
  background-color: $black!important;
  padding: 3rem!important;
  border-radius: .2rem;
  font-weight: 700;
  @media (max-width: 1440px) {
    right: 20%!important;
  }
  @media (max-width: 1400px) {
    right: 20%!important;
  }
  @media (max-width: 1200px) {
    right: 24%!important;
  }
  @media (max-width: 1024px) {
    right: 24%!important;
  }
  @media (max-width: 991px) {
    right: 24%!important;
  }
  @media (max-width: 768px) {
    right: 18%!important;
  }
  @media (max-width: 475px) {
    right: 9%!important;
  }
}
:root{
  --swiper-navigation-size: 22px!important;
  
}
.swiper-slide-prev p{
  opacity: 1;

}
.swiper-button-next{

}
.swiper-button-next, .swiper-button-prev{
  top: -25%!important;
}
.react-slideshow-container .nav:first-of-type{

  @media (max-width: 1400px) {
    bottom: 0%!important;
    left: 77%!important;
  }
  @media (max-width: 1024px) {
    bottom: 0%!important;
    left: 77%!important;
  }
  @media (max-width: 991px) {
    bottom: -10%!important;
    left: 93%!important;
  }
  @media (max-width: 475px) {
    bottom: -10%!important;
    left: 85%!important;
  }
}
.react-slideshow-container .nav:last-of-type{

  @media (max-width: 1400px) {
    bottom: 0%!important;
    left: 50%!important;
  }
  @media (max-width: 1024px) {
    bottom: 0%!important;
    left: 48%!important;
  }
  @media (max-width: 991px) {
    bottom: -10%!important;
    left: 83%!important;
  }
  @media (max-width: 475px) {
    bottom: -10%!important;
    left: 64%!important;
  }
}

.prev.nav{
  @media (max-width: 1400px) {
    bottom: -6%!important;
    left: 87%!important;
  }
  @media (max-width: 1400px) {
    bottom: -6%!important;
    left: 87%!important;
  }
}
.next.nav{
  @media (max-width: 1400px) {
    bottom: -133%!important;
    left: 87%!important;
  }
}
.react-slideshow-container .prev.nav{
  bottom: 108%!important;
  left: 95%!important;
  @media (max-width: 1400px) {
    left: 95%!important;
  }
  @media (max-width: 1200px) {
    bottom: 106%!important;
    left: 95%!important;
  }
  @media (max-width: 1024px) {
    bottom: 105%!important;
    left: 93%!important;
  }
  @media (max-width: 768px) {
    left: 91%!important;
  }
  @media (max-width: 475px) {
    left: 84%!important;
  }
}
.react-slideshow-container .next.nav{
  bottom: 108%!important;
  left: 92%!important;
  @media (max-width: 1400px) {
    left: 90%!important;
  }
  @media (max-width: 1200px) {
    bottom: 106%!important;
    left: 90%!important;
  }
  @media (max-width: 1024px) {
    bottom: 105%!important;
    left: 87%!important;
  }
  @media (max-width: 768px) {
    left: 83%!important;
  }
  @media (max-width: 475px) {
    left: 66%!important;
  }
}


.swiper-free-mode>.swiper-wrapper{
  align-items: center!important;
}
.react-slideshow-wrapper .images-wrap{
  @media (max-width: 475px) {
    justify-content: center!important;
  }

}

.accordion-button.collapsed{
  background: transparent!important;
  transition: .5s ease-in-out!important;
  padding: 1.15rem 0rem !important;
  @media (max-width: 475px) {
    padding: 1rem 2rem!important;
  }
}
.accordion-button{
  font-size: 2rem !important;
  font-weight: 700!important;
  color: $blue!important;
  font-family: "Kumbh Sans", sans-serif!important;
  background: $white !important;
  transition: .4s ease-in-out!important;
  padding: 1.15rem 1.15rem !important;
  position: relative;
  ::after{
    content: "";
    position: absolute;
    top: 20%;
    left: 0%;
    width: .5rem;
    height: 2.5rem;
    background-color: $blue;
  }
}
.accordion-button:not(.collapsed){
  box-shadow: none !important;
}
.accordion-item{
  background: transparent !important;
  border: none !important;
}
.collapse.show{
  background-color: $white;
  transition: .1s ease-in-out!important;
}
.collapse .show{
  background-color: $white;
  transition: .1s ease-in-out!important;
}
.accordion-button::after{
  display: none !important;
}
button:focus:not(:focus){
  background-color: $white!important;
}
.collapsing{
  transition: .1s ease-in!important;
}
.accordion-body{
  padding: 2rem !important;
}

