@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./variables";
html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  border: none;
  outline: none;
  font-size: 62.5%;
}
@media (max-width: 1440px) {
  html,
  body {
    font-size: 62.5%;
  }
}
@media (max-width: 1200px) {
  html,
  body {
    font-size: 55%;
  }
}

@media (max-width: 1024px){
  html,
  body {
    font-size: 50%;
  }
}
@media (max-width: 991px) {

  html,
  body {
    font-size: 50%;
  }
}
@media (max-width: 768px) {
  html,
  body {
    font-size: 45%;
  }
}
@media (max-width: 465px) {
  html,
  body {
    font-size: 45%;
  }
}
ul {
  list-style: none;
}
a{
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  color: $black;
}
* {
  box-sizing: border-box;
}
.swiper{
  height: 35rem!important;
}
@media (max-width: 1400px) {
  .swiper{
    height: 25rem!important;
  }
}


.slick-next{
  right: 30px !important;
  top: 50%!important;
  
}
.slick-prev{
  left: 30px !important;
  z-index: 22!important;
  top: 50%!important;
}