@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./variables";
html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  border: none;
  outline: none;
  font-size: 62.5%;
  scroll-behavior: inherit;
scroll-behavior: initial;
scroll-behavior: revert;
scroll-behavior: revert-layer;
scroll-behavior: unset;
}
@media (max-width: 1440px) {
  html,
  body {
    font-size: 62.5%;
  }
}
@media (max-width: 1200px) {
  html,
  body {
    font-size: 55%;
  }
}

@media (max-width: 1024px){
  html,
  body {
    font-size: 50%;
  }
}
@media (max-width: 991px) {

  html,
  body {
    font-size: 50%;
  }
}
@media (max-width: 768px) {
  html,
  body {
    font-size: 45%;
  }
}
@media (max-width: 465px) {
  html,
  body {
    font-size: 45%;
  }
}
ul {
  list-style: none;
}
a{
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  color: $black;
}
* {
  box-sizing: border-box;
}



.slick-next{
  right: 30px !important;
  top: 50%!important;
  
}
.slick-prev{
  left: 30px !important;
  z-index: 22!important;
  top: 50%!important;
}

.swiper-slide{
  width: 25rem!important;
}

.swiper-slide p{
  font-size: 2rem;
  opacity: 0;
}

.swiper-slide-prev p{
  opacity: 1;

}
.swiper{
  position: relative!important;
  overflow: visible!important;
}

.slick-prev{
  background-color: transparent !important;
  top: -20%!important;
  left: 75%!important;
  color: $black!important;
}
.slick-prev:before{
  font-size: 3rem!important;
  color: $black!important;
  background-color: $white !important;
  opacity: 1!important;
}
.slick-next{
  background-color: $black !important;
  top: -20%!important;
  left: 80%!important;
  color: $white!important;
}
.slick-next:before{
  font-size: 3rem!important;
  color: $black!important;
  background-color: $white !important;
  opacity: 1!important;
}
