@import "./variables";

.OurprojectSection {
  overflow: hidden;
  position: relative;
  margin-bottom: 10rem;
  background-color: $blue8;
  padding: 10.6rem 0;
  z-index: 1;
  @media (max-width: 475px) {
    margin-bottom: 5rem;
  }
  .Particles {
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    height: 100rem;
    width: 100%;
    z-index: -1;
    overflow: hidden;
  }
  .Ourproject {
    text-align: center;
    padding: 0 13.5rem;
    position: relative;
    @media (max-width: 1400px) {
      padding: 0 10rem;
    }
    @media (max-width: 991px) {
      padding: 0 5rem;
    }
    @media (max-width: 475px) {
      padding: 0 2rem;
    }
    .OurprojectContent {
      margin-bottom: 5rem;
      .OurprojectDes {
        p {
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.7rem;
          letter-spacing: 0.5rem;
          color: $white;
          opacity: 50%;
        }
      }
      .OurprojectTitle {
        p {
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 4.4rem;
          color: $white;
        }
      }
    }
    .OurprojectList {
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;
      @media (max-width: 1440px) {
        gap: 1rem;
      }
      @media (max-width: 1200px) {
        gap: 2rem;
      }
      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
      @media (max-width: 475px) {
        gap: 0.5rem;
        display: none;
      }
      .OurprojectLeft {
           width: 20%;
        @media (max-width: 3000px) and (min-width: 3440px) {
          width: 20%;
        }
        @media (max-width: 2440px) {
          width: 31%;
        }
        @media (max-width: 2100px) {
          width: 32%;
          margin-right: 2rem;
        }
        @media (max-width: 1920px) {
          width: 38%;
        }
        @media (max-width: 1880px) {
          width: 38%;
        }
        @media (max-width: 1440px) {
          width: 50%;
        }
        @media (max-width: 768px) {
          width: 100%;
        }
        .OurprojectLeftItemFull {
          width: 101%;
          margin-bottom: 2rem;
          filter: grayscale(1);
          @media (max-width: 1740px) {
            width: 100%;
          }
          @media (max-width: 1440px) {
            width: 100%;
            margin-bottom: 2rem;
          }
          @media (max-width: 1200px) {
            width: 100%;
            margin-bottom: 1.5rem;
          }
          @media (max-width: 475px) {
            width: 100%;
            margin-bottom: 0.5rem;
          }
        }:hover{
          filter: grayscale(0);
        }
        .OurprojectLeftItemHalf {
          display: inline-block;
          width: 47%;
          margin-right: 2rem;
          filter: grayscale(1);
          @media (max-width: 2440px) {
            width: 48%;
            margin-right: 0rem;
          }
          @media (max-width: 2300px) {
            width: 50%;
            margin-right: 0rem;
          }
          @media (max-width: 2100px) {
            width: 48%;
            margin-right: 2rem;
          }
          @media (max-width: 1920px) {
            width: 49%;
            margin-right: 0rem;
          }
          @media (max-width: 1880px) {
            width: 51%;
            margin-right: 0rem;
          }
          @media (max-width: 1740px) {
            width: 48%;
            margin-right: 2rem;
          }
          @media (max-width: 1440px) {
            width: 48%;
            margin-right: 2rem;
          }
          @media (max-width: 1400px) {
            width: 48%;
            margin-right: 2rem;
          }
          @media (max-width: 1200px) {
            width: 48%;
            margin-right: 1.5rem;
          }
          @media (max-width: 768px) {
            width: 44%;
            margin-right: 0rem;
          }
          @media (max-width: 475px) {
            width: 49%;
            margin-right: 0.5rem;
          }
        }:hover{
          filter: grayscale(0);
        }
        .OurprojectLeftItemHalf1 {
          display: inline-block;
          width: 46%;
          filter: grayscale(1);
          @media (max-width: 2440px) {
            width: 47%;
          }
          @media (max-width: 2300px) {
            width: 50%;
          }
          @media (max-width: 2100px) {
            width: 48%;
          }
          @media (max-width: 1920px) {
            width: 47%;
          }
          @media (max-width: 1880px) {
            width: 49%;
            margin-right: 0rem;
          }
          @media (max-width: 1740px) {
            width: 48%;
          }
          @media (max-width: 1440px) {
            width: 48%;
            margin-right: 0rem;
          }
          @media (max-width: 1400px) {
            width: 48%;
          }
          @media (max-width: 1200px) {
            width: 48%;
          }
          @media (max-width: 768px) {
            width: 44%;
          }
          @media (max-width: 475px) {
            width: 49%;
          }
        }:hover{
          filter: grayscale(0);
        }
      }
      .OurprojectRight {
        width: 38%;
        @media (max-width: 3440px) {
          width: 19%;
        }
        @media (max-width: 2440px) and (min-width: 2000px) {
          width: 31%;
        }
        @media (max-width: 2100px) {
          width: 32%;
        }
        @media (max-width: 1920px) {
          width: 38%;
        }
        @media (max-width: 1880px) {
          width: 38%;
        }

        @media (max-width: 1440px) {
          width: 50%;
        }
        @media (max-width: 768px) {
          width: 100%;
        }
        .OurprojectRightItemFull {
          width: 101%;
          margin-top: 2rem;
          filter: grayscale(1);
          @media (max-width: 2100px) {
            width: 101%;
          }
          @media (max-width: 1740px) {
            width: 100%;
          }
          @media (max-width: 1440px) {
            width: 100%;
            margin-top: 2rem;
          }
          @media (max-width: 1400px) {
            margin-top: 2rem;
          }
          @media (max-width: 1200px) {
            width: 100%;
            margin-top: 1.5rem;
          }
          @media (max-width: 475px) {
            width: 100%;
            margin-top: 0.5rem;
          }
        }:hover{
          filter: grayscale(0);
        }
        .OurprojectRightItemHalf {
          display: inline-block;
          width: 50%;
          filter: grayscale(1);
          @media (max-width: 2440px) {
            width: 48%;
            margin-right: 0rem;
          }
          @media (max-width: 2300px) {
            width: 50%;
            margin-right: 0rem;
          }
          @media (max-width: 2100px) {
            width: 48%;
            margin-right: 2rem;
          }
          @media (max-width: 1920px) {
            width: 49%;
            margin-right: 0rem;
          }

          @media (max-width: 1880px) {
            width: 51%;
            margin-right: 0rem;
          }
          @media (max-width: 1740px) {
            width: 48%;
            margin-right: 2rem;
          }
          @media (max-width: 1440px) {
            width: 48%;
            margin-right: 2rem;
          }
          @media (max-width: 1400px) {
            width: 48%;
            margin-right: 2rem;
          }
          @media (max-width: 1200px) {
            width: 48%;
            margin-right: 1.5rem;
          }
          @media (max-width: 768px) {
            width: 43%;
          }
          @media (max-width: 475px) {
            width: 49%;
            margin-right: 0.5rem;
          }
        }:hover{
          filter: grayscale(0);
        }
        .OurprojectRightItemHalf1 {
          display: inline-block;
          width: 50%;
          filter: grayscale(1);
          @media (max-width: 2440px) {
            width: 47%;
          }
          @media (max-width: 2300px) {
            width: 50%;
          }
          @media (max-width: 2100px) {
            width: 48%;
          }
          @media (max-width: 1920px) {
            width: 48%;
            margin-right: 0rem;
          }
          @media (max-width: 1880px) {
            width: 49%;
            margin-right: 0rem;
          }
          @media (max-width: 1740px) {
            width: 48%;
          }
          @media (max-width: 1440px) {
            width: 48%;
            margin-right: 0rem;
          }
          @media (max-width: 1400px) {
            width: 48%;
          }
          @media (max-width: 1200px) {
            width: 48%;
          }

          @media (max-width: 768px) {
            width: 43%;
          }

          @media (max-width: 475px) {
            width: 49%;
          }
        }:hover{
          filter: grayscale(0);
        }
      }
    }
    .OurprojectListMobile{
      display: none;
      @media (max-width: 1440px) {
        display: none;
      }
      @media (max-width: 475px) {
        display: block;
        display: flex;
        flex-direction: column;
      }
      .OurprojectItemMobile{
        width: 100%;
        padding: 2rem 0rem;
      }
    }
  }
}
