@import "./variables";

.ourserviceSection {
  padding-top: 5rem;
  margin-bottom: 10rem;
  overflow: hidden;
  position: relative;
  @media (max-width: 475px) {
    margin-bottom: 5rem;
  }
  .ourservice {
    overflow: hidden;
    padding: 2rem 13.5rem 0 13.5rem;
    position: relative;
    @media (max-width: 3440px) and (min-width: 3000px) {
      padding: 5rem 80rem;
    }
    @media (max-width: 2440px) and (min-width: 2000px) {
      padding: 5rem 40rem;
    }
    @media (max-width: 1400px) {
      padding: 2rem 0 0 10rem;
    }
    @media (max-width: 991px) {
      padding: 2rem 0 0 5rem;
    }
    @media (max-width: 475px) {
      padding: 2rem 0 0 2rem;
    }
    .ourserviceBg{
      position: absolute;
      top: 0%;
      right: 0%;
      animation: move 3s infinite;
    }
    .ourserviceContentTop{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .ourserviceContent {
        .ourserviceDes {
          p {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.7rem;
            letter-spacing: 0.5rem;
            color: $black;
            opacity: 50%;
          }
        }
        .ourserviceTitle {
          p {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            animation: typing 2s steps(22), blink .5s step-end infinite alternate;
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 3rem;
            color: $black;
          }
        }
      }
      .Btn{
        display: flex;
        align-items: center;
        cursor: pointer;
        @media (max-width: 991px) {
          width: 10%;
        }
        @media (max-width: 768px) {
          width: 10%;
        }
        @media (max-width: 390px) {
          width: 10%;
        }
      }
    }
    
    .ourserviceSlider {

      .ourserviceItem {
        width: 70%;
        @media (max-width: 1440px) {
          width: 75%;
        }
        @media (max-width: 390px) {
          width: 100%;
        }
        .ourserviceItemImg {
          width: 29rem;
          @media (max-width: 1200px) {
            width: 25rem;
          }
          @media (max-width: 390px) {
            width: 23rem;
          }
        }
        .ourserviceItemTitle {
          p {
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 2.9rem;
            color: $blue4;
          }
        }
        .ourserviceItemDes {
          width: 100%;
          @media (max-width: 475px) {
            width: 100%;
          }
          p {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.4rem;
            color: $black;
            opacity: 70%;
          }
        }
      }
    }
  }
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
@keyframes move {
  0% {
    -webkit-transform: rotate(-1deg) translate(-5px,-5px);
    transform: rotate(-1deg) translate(-5px,-5px);
}
50% {
    -webkit-transform: rotate(1deg) translate(5px,5px);
    transform: rotate(1deg) translate(5px,5px);
}
100% {
    -webkit-transform: rotate(-1deg) translate(-5px,-5px);
    transform: rotate(-1deg) translate(-5px,-5px);
}
}