@import "./variables";

.ourserviceSection{
  margin-bottom: 10rem;
  overflow: hidden;
  @media (max-width: 475px) {
    margin-bottom: 5rem;
  }
  .ourservice{
    overflow: hidden;
    padding: 2rem 13.5rem 0 13.5rem;
    position: relative;
    @media (max-width: 3440px) and (min-width: 3000px) {
      padding: 5rem 80rem;
    }
    @media (max-width: 2440px) and (min-width: 2000px) {
      padding: 5rem 40rem;
    }
    @media (max-width: 1400px) {
      padding: 2rem 0 0 10.0rem;
    }
    @media (max-width: 991px) {
      padding: 2rem 0 0 5rem;
    }
    @media (max-width: 475px) {
      padding: 2rem 0 0 2rem;
    }
    .ourserviceContent{
      margin-bottom: 7.0rem;
      .ourserviceDes{
        p{
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.7rem;
          letter-spacing: .5rem;
          color: $black;
          opacity: 50%;
        }
      }
      .ourserviceTitle{
        p{
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 2rem;
          color: $black;
        }
      }
    }
    .ourserviceSlider{
      
      .ourserviceItem{
        width: 75%;
        @media (max-width: 1440px) {
          width: 90%;
        }
        .ourserviceItemImg{
          width: 29rem;
        }
        .ourserviceItemTitle{
          p{
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 2.9rem;
            color: $blue4;
          }
        }
        .ourserviceItemDes{
          width: 100%;
          @media (max-width: 475px) {
            width: 100%;
          }
          p{
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.4rem;
            color: $black;
            opacity: 70%;
          }
        }
      }
    }
  }
}